<shared-tool-bar color="warn">
    <div options class="h-100">
        <ul class="d-flex justify-content-around m-0 p-0 list-unstyled h-100">
            <li class="m-0 h-100">
                <a mat-button routerLink="/admin/products" class="h-100">Productos</a>
            </li>
            <li class="m-0 h-100">
                <a mat-button routerLink="/admin/staff" class="h-100">Personal</a>
            </li>
            <li class="m-0 h-100">
                <a mat-button routerLink="/admin/categories" class="h-100">Categorias</a>
            </li>
            <li class="m-0 h-100">
                <a mat-button routerLink="/admin/orders" class="h-100">Ordenes</a>
            </li>
            <li class="m-0 h-100">
                <a mat-button routerLink="/admin/reports" class="h-100">Reportes</a>
            </li>
            <li class="m-0 h-100">
                <a mat-button routerLink="/admin/settings" class="h-100">Configuracion</a>
            </li>
        </ul>
    </div>
</shared-tool-bar>