<div class="background-container d-flex justify-content-start pt-5 ps-5 text-light">
    <div class="d-flex flex-column">
        <button mat-fab matTooltip="Regresar" outlinedIcon class="mb-5" (click)="redirect()">
            <mat-icon class="material-icons-outlined">arrow_circle_left</mat-icon>
        </button>
        <span class="fs-1 fw-bold mt-5 mb-3">Error - 404</span>
        <span class="fs-3 fw-bold">Pagina no Encontrada</span>
        <span class="fs-5 fw-bold">No esperamos esta visita, porfavor regresa...</span>
    </div>
</div>