<div class="background-container d-flex justify-content-center align-items-center">
    <div class="overlay"></div>
    <div class="pages">
        <div class="rounded-5 shadow-lg mat-app-background" style="width: 50rem; height: 30rem;">
            <div class="row g-0 h-100">
                <div class="col-6 h-100">
                    <div class="logo-background rounded-start-5 d-flex justify-content-center align-items-center px-5">
                        <img class="img-fluid" 
                            [src]="logo_url" 
                            [alt]="name"
                        >
                    </div>
                </div>
                <div class="col-6 h-100 py-3 px-5">
                    <router-outlet />
                </div>
            </div>
        </div>
        <shared-theme-switcher class="position-absolute top-0 end-0 mt-2 me-2" />
        <div class="position-absolute" style="top: 2rem; left: 2rem;">
            <button mat-fab matTooltip="Regresar" routerLink="/" outlinedIcon>
              <mat-icon class="material-icons-outlined">arrow_circle_left</mat-icon>
            </button>
        </div>
    </div>
</div>
